/* index.html panels */
#play-forms {
  background-color: #FF8E8E;
}

#play-ballons {
  background-color: #AEFFB3;
}

#play-animals {
  background-color: #9FB7FF;
}

#settings {
  background-color: orange;
}
